version: '3.8'
services:
  bf-registry:
    build:
      context: .
    container_name: bf-registry-container
    ports:
      - 8761:8761
    networks:
      - bf-network
networks:
  bf-network:
    driver: bridge
    name: bf-network